In [1]:
import numpy as np
import pandas as pd

In [2]:
#Extracting the csv files into two dataframes
df=pd.read_csv("suicide_rates_1990-2022.csv")
df1=pd.read_csv("age_std_suicide_rates_1990-2022.csv")

In [3]:
#top 10 rows of suicide_rates_1990-2022.csv
df.head(10)

,RegionCode,RegionName,CountryCode,CountryName,Year,Sex,AgeGroup,Generation,SuicideCount,CauseSpecificDeathPercentage,DeathRatePer100K,Population,GDP,GDPPerCapita,GrossNationalIncome,GNIPerCapita,InflationRate,EmploymentPopulationRatio
0,EU,Europe,ALB,Albania,1992,Male,0-14 years,Generation Alpha,0.0,0.000000,0.000000,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
1,EU,Europe,ALB,Albania,1992,Male,0-14 years,Generation Alpha,0.0,0.000000,0.000000,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
2,EU,Europe,ALB,Albania,1992,Male,0-14 years,Generation Alpha,0.0,0.000000,0.000000,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
3,EU,Europe,ALB,Albania,1992,Male,0-14 years,Generation Alpha,0.0,0.000000,0.000000,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
4,EU,Europe,ALB,Albania,1992,Male,15-24 years,Generation Z,5.0,3.401361,3.531073,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
5,EU,Europe,ALB,Albania,1992,Male,15-24 years,Generation Z,4.0,1.904762,3.276003,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
6,EU,Europe,ALB,Albania,1992,Male,25-34 years,Millennials,3.0,1.357466,2.487562,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
7,EU,Europe,ALB,Albania,1992,Male,25-34 years,Millennials,4.0,2.094241,3.202562,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
8,EU,Europe,ALB,Albania,1992,Male,35-54 years,Generation X,1.0,0.555556,0.915751,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315
9,EU,Europe,ALB,Albania,1992,Male,35-54 years,Generation X,3.0,1.428571,3.428571,3247039.0,652174990.8,200.85222,906184212.3,1740.0,226.005421,45.315

In [4]:
#Top 10 rows of age_std_suicide_rates_1990-2022.csv
df1.head(10)

,RegionCode,RegionName,CountryCode,CountryName,Year,Sex,SuicideCount,CauseSpecificDeathPercentage,StdDeathRate,DeathRatePer100K,Population,GDP,GDPPerCapita,GNI,GNIPerCapita,InflationRate,EmploymentPopulationRatio
0,EU,Europe,ALB,Albania,1992,Male,33,0.331959,2.335802,2.076386,3247039.0,6.521750e+08,200.852220,9.061842e+08,1740.0,226.005421,45.315
1,EU,Europe,ALB,Albania,1992,Female,14,0.191860,0.866420,0.874563,3247039.0,6.521750e+08,200.852220,9.061842e+08,1740.0,226.005421,45.315
2,EU,Europe,ALB,Albania,1993,Male,46,0.477724,3.330938,2.937233,3227287.0,1.185315e+09,367.279225,1.024263e+09,2110.0,85.004751,47.798
3,EU,Europe,ALB,Albania,1993,Female,27,0.385164,1.755077,1.686025,3227287.0,1.185315e+09,367.279225,1.024263e+09,2110.0,85.004751,47.798
4,EU,Europe,ALB,Albania,1994,Male,37,0.419406,2.678796,2.332619,3207536.0,1.880951e+09,586.416135,1.216681e+09,2300.0,22.565053,50.086
5,EU,Europe,ALB,Albania,1994,Female,15,0.243427,0.988147,0.928333,3207536.0,1.880951e+09,586.416135,1.216681e+09,2300.0,22.565053,50.086
6,EU,Europe,ALB,Albania,1995,Male,57,0.612113,3.659538,3.545217,3187784.0,2.392765e+09,750.604449,2.035220e+09,2710.0,7.793219,53.186
7,EU,Europe,ALB,Albania,1995,Female,34,0.503928,2.113380,2.071781,3187784.0,2.392765e+09,750.604449,2.035220e+09,2710.0,7.793219,53.186
8,EU,Europe,ALB,Albania,1996,Male,53,0.539825,3.656300,3.263547,3168033.0,3.199641e+09,1009.977111,2.823912e+09,3050.0,12.725478,53.039
9,EU,Europe,ALB,Albania,1996,Female,39,0.562852,2.431447,2.350814,3168033.0,3.199641e+09,1009.977111,2.823912e+09,3050.0,12.725478,53.039

Data cleaning and transformations for Dataframe df

In [5]:
#printing the schema of dataframe df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118560 entries, 0 to 118559
Data columns (total 18 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   RegionCode                    118560 non-null  object
 1   RegionName                    118560 non-null  object
 2   CountryCode                   118560 non-null  object
 3   CountryName                   118560 non-null  object
 4   Year                          118560 non-null  int64
 5   Sex                           118560 non-null  object
 6   AgeGroup                      118560 non-null  object
 7   Generation                    118560 non-null  object
 8   SuicideCount                  118096 non-null  float64
 9   CauseSpecificDeathPercentage  114271 non-null  float64
 10  DeathRatePer100K              107896 non-null  float64
 11  Population                    112640 non-null  float64
 12  GDP                           111320 non-null  float64
 13  GDPPerCapita                  111320 non-null  float64
 14  GrossNationalIncome           108600 non-null  float64
 15  GNIPerCapita                  107800 non-null  float64
 16  InflationRate                 104100 non-null  float64
 17  EmploymentPopulationRatio     107440 non-null  float64
dtypes: float64(10), int64(1), object(7)
memory usage: 16.3+ MB

In [6]:
print("Total number of Null values by each column")
print(df.isnull().sum())

Total number of Null values by each column
RegionCode                          0
RegionName                          0
CountryCode                         0
CountryName                         0
Year                                0
Sex                                 0
AgeGroup                            0
Generation                          0
SuicideCount                      464
CauseSpecificDeathPercentage     4289
DeathRatePer100K                10664
Population                       5920
GDP                              7240
GDPPerCapita                     7240
GrossNationalIncome              9960
GNIPerCapita                    10760
InflationRate                   14460
EmploymentPopulationRatio       11120
dtype: int64

In [8]:
df.drop("Generation",axis=1,inplace=True)

In [9]:
print("Total number of rows for dataframe df",len(df))

Total number of rows for dataframe df 118560

In [10]:
df.dropna(inplace=True)  #Dropping Null values of dataframe df to enhance data integrity which can produce accurate results during analysis
print("Total number of rows for dataframe df after dropping null values",len(df))

Total number of rows for dataframe df after dropping null values 89000

In [11]:
df.isnull().sum()

RegionCode                      0
RegionName                      0
CountryCode                     0
CountryName                     0
Year                            0
Sex                             0
AgeGroup                        0
SuicideCount                    0
CauseSpecificDeathPercentage    0
DeathRatePer100K                0
Population                      0
GDP                             0
GDPPerCapita                    0
GrossNationalIncome             0
GNIPerCapita                    0
InflationRate                   0
EmploymentPopulationRatio       0
dtype: int64

In [12]:
print("Total number of duplicates in dataframe df",df.duplicated().sum())

Total number of duplicates in dataframe df 15778

In [13]:
df.drop_duplicates(inplace=True) #Dropping duplicate rows
print("Total number of rows for dataframe df after dropping duplicates values",len(df))

Total number of rows for dataframe df after dropping duplicates values 73222

In [14]:
df.duplicated().sum()

0

Data cleaning and trasnformations for dataframe df1

In [15]:
df1.info()  #Schema for Dataframe df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5928 entries, 0 to 5927
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   RegionCode                    5928 non-null   object
 1   RegionName                    5928 non-null   object
 2   CountryCode                   5928 non-null   object
 3   CountryName                   5928 non-null   object
 4   Year                          5928 non-null   int64
 5   Sex                           5928 non-null   object
 6   SuicideCount                  5928 non-null   int64
 7   CauseSpecificDeathPercentage  5927 non-null   float64
 8   StdDeathRate                  5720 non-null   float64
 9   DeathRatePer100K              5720 non-null   float64
 10  Population                    5632 non-null   float64
 11  GDP                           5566 non-null   float64
 12  GDPPerCapita                  5566 non-null   float64
 13  GNI                           5430 non-null   float64
 14  GNIPerCapita                  5390 non-null   float64
 15  InflationRate                 5205 non-null   float64
 16  EmploymentPopulationRatio     5372 non-null   float64
dtypes: float64(10), int64(2), object(5)
memory usage: 787.4+ KB

In [16]:
print("Total number of Null values by each column")
print(df1.isnull().sum())

Total number of Null values by each column
RegionCode                        0
RegionName                        0
CountryCode                       0
CountryName                       0
Year                              0
Sex                               0
SuicideCount                      0
CauseSpecificDeathPercentage      1
StdDeathRate                    208
DeathRatePer100K                208
Population                      296
GDP                             362
GDPPerCapita                    362
GNI                             498
GNIPerCapita                    538
InflationRate                   723
EmploymentPopulationRatio       556
dtype: int64

In [17]:
print("Total number of rows for dataframe df1",len(df1))

Total number of rows for dataframe df1 5928

In [18]:
df1.drop("EmploymentPopulationRatio",axis=1,inplace=True) #Dropping EmployementPopulationRatio as it has more null values and can produce inaccurate results

In [19]:
df1.dropna(inplace=True)  #Dropping Null values of dataframe df to enhance data integrity which can produce accurate results during analysis
print("Total number of rows for dataframe df1 after dropping null values",len(df1))

Total number of rows for dataframe df1 after dropping null values 4836

In [20]:
df1.isnull().sum()

RegionCode                      0
RegionName                      0
CountryCode                     0
CountryName                     0
Year                            0
Sex                             0
SuicideCount                    0
CauseSpecificDeathPercentage    0
StdDeathRate                    0
DeathRatePer100K                0
Population                      0
GDP                             0
GDPPerCapita                    0
GNI                             0
GNIPerCapita                    0
InflationRate                   0
dtype: int64

In [21]:
print("Total number of duplicates in dataframe df1",df1.duplicated().sum()) #No duplicated rows found so no need to drop any more values

Total number of duplicates in dataframe df1 0

Saving the transformed datasets into csv files

In [22]:
df.to_csv("suicide_rates_1990-2022_transformed.csv",index=False)
df1.to_csv("age_std_suicide_rates_1990-2022_transformed.csv",index=False)